<!DOCTYPE html>
<html>
<title>Prediction Results</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/pred_style.css">

<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:100px 16px">
  <h1 class="w3-xlarge">CycleGAN </h1>
  <h1>Predict Painting from Image</h1>
</header>

<!-- Form Input -->
<div class="w3-center">
	<form action="{{ url_for('predict_painting')}}" method="post", enctype="multipart/form-data">
        <label for="image">Image:</label> 
        <input type="file" name="image" id="image" />
        <input type="submit" value="Submit"> 
    </form> 
    
</div>

<!--Display image at the center from the image saved in static/images folder-->

<div class="w3-row w3-center w3-padding-64">
  <div class="center">
    <div class="w3-card-2">
      <img src="static/images/prediction.png" alt="Image" style="width:30%">
      <div class="w3-container">
        <h3>{{filename}}</h3>
        <p class="w3-opacity">Painting: {{prediction}}</p>
      </div>
    </div>
  </div>

<!-- Display another image-->
<div class="w3-row w3-center w3-padding-64">
  <div class="center">
    <div class="w3-card-2">
      <img src="static/images/actual.png" alt="Image" style="width:30%">
      <div class="w3-container">
        <h3>{{filename2}}</h3>
        <p class="w3-opacity">Image: {{prediction2}}</p>
      </div>
    </div>
  </div>

<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large"> 

  <p>Built by <a href="" target="_blank" class="w3-hover-text-green">Ziad</a></p>

</footer>

</body>
</html>
